
/* ====== Portfolio Stylesheet ===== */

body {
  margin: 0;
  font-family: "Raleway", serif;
}

nav {
  background-color: #223337;
  height: 40px;
  line-height: 40px;
  margin: 0;
  width: 100%;
  display: block;
  overflow: hidden;
}

nav li {
  display: inline-block;
  color: white;
}

figure {
  float: left;
}

blockquote {
  clear: left;
  background-color: #efefef;
  padding: 1em;
  border-left: solid .25em #000;
}

footer {
  background-color: #223337;  
  height: 40px;
  color: white;
}

a.link-button {
  background-color: #000;
  color: white;
  height: 20px;
}
