
/* ====== Portfolio Stylesheet ===== */

body {
  margin: 0;
  font-family: "Raleway", serif;
}

nav {
  background-color: #223337;
  line-height: 40px;
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  opacity: 0.75;
}

nav ul li {
  list-style-type: none;
}


nav li {
  display: inline-block;
  color: white;
}

nav li a {
  padding: 10px;
  color: white;
  list-style-type: none;
}

article {
  padding: 1em;
}

.about-photo {
  float: right;
}

.main-header {
  position: absolute;
  top: 150px;
  left: 500px;
}

.about-header {
  margin-top: 100px;
}

h1 {
  text-align: center;
}

figure {
  float: left;
}

blockquote {
  clear: left;
  background-color: #efefef;
  padding: 1em;
  border-left: solid .25em #000;
}

footer {
  background-color: #223337;  
  height: 40px;
  color: white;
}

a.link-button {
  background-color: #add136;
  padding: 13px 32px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
